body
{
  background-color: hotpink;
}

h3 {
  font-family: 'Playball', cursive;
}
.container-fluid {
  background-color: aqua;
}
.main-div
{
  background-color: white;
  padding-top: 20px;
}

.body-text {

}
.nav-tabs {

}

#map {
  width: 100%;
  height: 450px;
}
