<!DOCTYPE html>

<html>
  <head>
  	<meta charset="UTF-8" />
  	<title>Geospatial Web Frameworks with Relational Databases and Python</title>

      <meta charset="UTF-8" />
      <meta name="description" content="Geospatial Web Frameworks with Relational Databases and Python" />
      <meta name="keywords" content="HTML,CSS,JavaScript,Python,Flask" />
      <meta name="author" content="Nicole White" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />


      <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
      <link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"> -->

      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
       integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
       crossorigin=""/>

      <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>

      <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
  </head>

	<body>
    <div class="container-fluid">
      <h3>Geospatial Web Frameworks with Relational Databases and Python</h3>
    </div>
    <div class="container main-div">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="into-tab" data-toggle="tab" href="#intro" role="tab" aria-controls="intro" aria-selected="true">Introduction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">REST API Reference</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="vis-tab" data-toggle="tab" href="#vis" role="tab" aria-controls="vis" aria-selected="false">Visualization</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Technical Documentation</a>
      </li>
    </ul>


    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="intro" role="tabpanel" aria-labelledby="intro-tab">
        <p class="body-text">
          Bleh
          </p>



      </div>
      <div class="tab-pane fade show active" id="vis" role="tabpanel" aria-labelledby="vis-tab">

<div id="map"></div>

<!-- <form method="post" class="form">
  <h3>form.description</h3>
  form.selections(class_='form-control',placeholder="")
  <br>
  <input type="submit" value="Find Data">

</form> -->

      </div>





      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Blah 3</div>
    </div>
</div>


    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src = "../static/js/main.js"></script>
    <script src="../static/js/leaflet.ajax.min.js"></script>

<script>
    var map = L.map('map').setView([43.542003, -80.248199], 13);

    var tree_url = '../tree_inv/api/v0.1/tree';


    var tree = new L.GeoJSON.AJAX(tree_url).bindPopup('Blah').addTo(map);

    var poi_url = "https://opendata.arcgis.com/datasets/f6921c5b12e64d17b5cd173cafb23677_0.geojson"
        var poi = new L.GeoJSON.AJAX(poi_url).addTo(map);


    console.log(poi)

    	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    	subdomains: 'abcd',
    	minZoom: 1,
    	maxZoom: 18,
    	}).addTo(map);
      //
    	// L.marker([ form.latitude,form.longitude]).addTo(map)
    	// 	.bindPopup("form.popup").openPopup();

      // {% for tr in tree_pts %}
      // L.marker([ {{tr.latitude}},{{tr.longitude}}]).addTo(map)
      //   .bindPopup('{{tree_popup[loop.index]}}');
      //   console.log('{{loop.index}}')
      // {% endfor %}


    	var popup = L.popup();
    	function showMapClick(e) {
    		popup
    			.setLatLng(e.latlng)
    			.setContent("You clicked the map at " + e.latlng.toString())
    			.openOn(map);
    	}
    	map.on('click', showMapClick);
    </script>



	</body>
</html>
